.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    font-size: 5rem;
    padding: 2rem 5rem;
    border-radius: 1rem;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
}

p {
    font-size: 2rem;
    margin-top: 2rem;
}

#cps {
    font-weight: bold;
}
